<div class="panel medium">
    <div style="width: 40%; float: left;;">
        <br />
        <img src="https://png.pngtree.com/png_detail/20181017/vector-store-png-clipart_1638104.png" width="100px" alt="">
    </div>

    <div style="width: 60%; float: left;">
        <h2> Nome da Loja </h2>
        <p> Descricao da loja </p>
    </div>

</div>


<div class="panel medium">
    <div style="width: 40%; float: left;;">
        <br />
        <img src="https://png.pngtree.com/png_detail/20181017/vector-store-png-clipart_1638104.png" width="100px" alt="">
    </div>

    <div style="width: 60%; float: left;">
        <h2> Nome da Loja </h2>
        <p> Descricao da loja </p>
    </div>

</div>