<div class="panel large">
    <div style="width: 50%; float: left;">
        <img style="width: 60%" src="https://avatarfiles.alphacoders.com/752/75205.png" alt="">
    </div>
    <div style="width: 50%; float: left;">
        
      <p> Nome </p>

      <input type="text" placeholder="Nome do usuário" value="Lucas Coutinho Bezerra" disabled class="input input-secondary block">
      <br /> <br />

      <p> Email </p>
      <input type="text" placeholder="email do usuário" value="lucaskk@ucl.br" disabled class="input input-secondary block">
      <br /> <br />

    </div>
</div>